
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Weapon statistics of the videogame Call of Duty Mobile 2021 updated | Sitio web de estadisticas de armas de Call of Duty Mobile 2021 Actualizadas. Cod mobile. Stats. ">
    <meta name="author" content="Argenis Garcia">
    <!--<link rel="icon" href=""> -->

    <title>Weapons Call of Duty Mobile 2021 Updated | Armas Call of Duty Mobile 2021 Actualizadas</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/album.css" rel="stylesheet">
  </head>

  <body>
    <div id="app">

      <header>
        
        <div class="navbar navbar-dark fixed-top bg-dark shadow-sm">
          <div class="container d-flex justify-content-between">
            <a href="#" target="_blank" class="navbar-brand d-flex align-items-center">
              <!--<img src="" width="50">-->
              <strong> &nbsp;GunsCodMobile</strong>&nbsp; <span class="badge badge-info">Beta</span>
            </a>
            <button type="button" class="btn btn-primary" v-on:click="changeLanguage()">{{ $t("buttonLanguage") }}</button>
                            
            <span class="pull-right text-white d-none d-sm-block"><b>{{ $t("lastUpdate") }}:</b> {{ dateUpdate }}</span>
          </div>
        </div>
        <br>
      </header>

      <main role="main">
      
          <section class="jumbotron text-center">
            <div class="container">
              <h1 class="jumbotron-heading"><b>{{ $t("title") }} </b> <span class="badge badge-info">Beta</span></h1>
              <p class="lead text-muted">{{ $t("descriptionWebSite") }}</p>
            </div>
          </section>
          <section id="general">
            
            <div class="container">
              <div class="row">
                <h2>{{ $t("menu.tab1") }}</h2>
              </div>
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="form-group">
                        <label for="inputWordFilter"><b>{{ $t("titleFilter") }}</b></label>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" id="inputWordFilter" v-model="word" aria-describedby="textHelp" :placeholder="$t('labelFilter')">
                          <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="button-addon2">{{ $t("buttonFilter") }} </button>
                          </div>
                        </div>
                        
                        <small id="textHelp" class="form-text text-muted">{{ $t("labelFilter") }} </small>
                      </div>

                          
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <button type="button" :class="{active: classButton == 1}" class="btn btn-outline-primary" v-on:click="option = 'damage';classButton =  1;">{{ $t("stats.damage") }}</button>
                      <button type="button" :class="{active: classButton == 2}" class="btn btn-outline-primary" v-on:click="option = 'firerate';classButton =  2;">{{ $t("stats.firerate") }}</button>
                      <button type="button" :class="{active: classButton == 3}" class="btn btn-outline-primary" v-on:click="option = 'accuracy';classButton =  3;">{{ $t("stats.accuracy") }}</button>
                      <button type="button" :class="{active: classButton == 4}" class="btn btn-outline-primary" v-on:click="option = 'mobility';classButton =  4;">{{ $t("stats.mobility") }}</button>
                      <button type="button" :class="{active: classButton == 5}" class="btn btn-outline-primary" v-on:click="option = 'range';classButton =  5;">{{ $t("stats.range") }}</button>
                      <button type="button" :class="{active: classButton == 6}" class="btn btn-outline-primary" v-on:click="option = 'control';classButton =  6;">{{ $t("stats.control") }}</button>
                      
                    </div>
                  </div>

                  <br>

                <div class="album py-5 bg-light">
                  <div  class="container">
                    <div class="row">
                        <div v-for="(gun, index) in filterGuns" class="col-md-4">
                          <div class="card mb-4 shadow-sm">
                            <div  v-bind:style="{ backgroundImage: 'url(' + gun.image + ')' }" style="min-height: 150px; background-size: cover; background-position: center;" >
                              
                            </div>
                            <div class="card-body">
                              <p class="card-text"><b>{{ gun.name }}</b> <span class="badge badge-info">{{ typeGun(gun.type) }}</span> <br> {{ gun.description }} <br> </p>
                              <br>
                              <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" v-bind:data-target="'#collapseExample'+ index " aria-expanded="false" aria-controls="collapseExample">
                                {{ $t("seeStats") }} 
                              </button>
                              <hr>
                              <div class="collapse"  v-bind:id="'collapseExample'+ index ">
                              <table class="table table-hover table-bordered ">
                                <thead class="thead-dark">
                                  <tr>
                                    <th style="text-align:center" scope="col">{{ $t("feature") }}</th>
                                    <th style="text-align:center" scope="col">Total </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td style="text-align:center"><b> {{ $t("stats.damage") }} </b></td>
                                    <td style="text-align:center"><b> {{ gun.damage }}</b></td>
                                  </tr>
                                  <tr>
                                    <td style="text-align:center"><b> {{ $t("stats.firerate") }} </b></td>
                                    <td style="text-align:center"><b> {{ gun.firerate }}</b></td>
                                  </tr>
                                  <tr>
                                    <td style="text-align:center"><b> {{ $t("stats.accuracy") }} </b></td>
                                    <td style="text-align:center"><b> {{ gun.accuracy }}</b></td>
                                  </tr>
                                  <tr>
                                    <td style="text-align:center"><b> {{ $t("stats.mobility") }} </b></td>
                                    <td style="text-align:center"><b> {{ gun.mobility }}</b></td>
                                  </tr>
                                  <tr>
                                    <td style="text-align:center"><b> {{ $t("stats.range") }} </b></td>
                                    <td style="text-align:center"><b> {{ gun.range }}</b></td>
                                  </tr>
                                  <tr>
                                    <td style="text-align:center"><b> {{ $t("stats.control") }} </b></td>
                                    <td style="text-align:center"><b> {{ gun.control }}</b></td>
                                  </tr>
                                </tbody>
                              </table>
                              </div>
                              <div class="d-flex justify-content-between align-items-center">
                                
                                <small class="text-muted text-center">{{ $t("lastUpdate") }}: {{ gun.date_update }} </small>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
          </section>

          <section id="versus">
            <div class="container">
              <div class="row">
                <h2>{{ $t("menu.tab2") }}</h2>
                <hr>
              </div>
              <div class="row">
                  <div class="col-md-4 col-sm-12 col-xs-12" style="padding-bottom: 5px;"> 
                    <div class="card">
                      <div class="card-body">
                        <p class="text-center"><b>{{ $t("stats.damage") }}</b></p>
                        <div v-for="(gun, index) in gunsDamage">
                        <small>({{ typeGun(gun.type) }})</small>
                          <div class="progress">
                            <div class="progress-bar bg-success text-dark" role="progressbar" :style="{width: gun.damage + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><b>{{ gun.name }}: {{ gun.damage }}</b></div>
                          </div>
                        </div>
                    </div>
                  </div>
                  </div> 
                  <div class="col-md-4 col-sm-12 col-xs-12" style="padding-bottom: 5px;">
                    <div class="card">
                      <div class="card-body">
                        <p class="text-center"><b>{{ $t("stats.firerate") }}</b></p>
                        <div v-for="(gun, index) in gunsFirerate">
                        <small>({{ typeGun(gun.type) }})</small>
                          <div class="progress">
                            <div class="progress-bar bg-success text-dark" role="progressbar" :style="{width: gun.firerate + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><b>{{ gun.name }}: {{ gun.firerate }}</b></div>
                          </div>
                        </div>
                    </div>
                  </div>
                  </div> 
                  <div class="col-md-4 col-sm-12 col-xs-12" style="padding-bottom: 5px;">
                    <div class="card">
                      <div class="card-body">
                      <p class="text-center"><b>{{ $t("stats.accuracy") }}</b></p>
                      <div v-for="(gun, index) in gunsAccuracy">
                        <small>({{ typeGun(gun.type) }})</small>
                        <div class="progress">
                          <div class="progress-bar bg-success text-dark" role="progressbar" :style="{width: gun.accuracy + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><b>{{ gun.name }}: {{ gun.accuracy }}</b></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div> 
                  <div class="col-md-4 col-sm-12 col-xs-12" style="padding-bottom: 5px;">
                    <div class="card">
                      <div class="card-body">
                      <p class="text-center"><b>{{ $t("stats.mobility") }}</b></p>
                      <div v-for="(gun, index) in gunsMobility">
                        <small>({{ typeGun(gun.type) }})</small>
                        <div class="progress">
                          <div class="progress-bar bg-success text-dark" role="progressbar" :style="{width: gun.mobility + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><b>{{ gun.name }}: {{ gun.mobility }}</b></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div> 
                  <div class="col-md-4 col-sm-12 col-xs-12" style="padding-bottom: 5px;">
                    <div class="card">
                      <div class="card-body">
                      <p class="text-center"><b>{{ $t("stats.range") }}</b></p>
                      <div v-for="(gun, index) in gunsRange">
                        <small>({{ typeGun(gun.type) }})</small>
                        <div class="progress">
                          <div class="progress-bar bg-success text-dark" role="progressbar" :style="{width: gun.range + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><b>{{ gun.name }}: {{ gun.range }}</b></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div> 
                  <div class="col-md-4 col-sm-12 col-xs-12" style="padding-bottom: 5px;">
                    <div class="card">
                      <div class="card-body">
                        <p class="text-center"><b>{{ $t("stats.control") }}</b></p>
                        <div v-for="(gun, index) in gunsControl">
                        <small>({{ typeGun(gun.type) }})</small>
                          <div class="progress">
                            <div class="progress-bar bg-success text-dark" role="progressbar" :style="{width: gun.control + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><b>{{ gun.name }}: {{ gun.control }}</b></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </section>

          <section id="laboratory">
            <div class="container">
              <div class="row">
                <h2>{{ $t("menu.tab3") }}</h2>
                <hr>
              </div>
              <div class="row">
                
                
              </div>    
            </div>
          </section>          
        
      </main>

    

    <footer class="text-muted">
      <div class="container">
        <p class="float-right d-none d-sm-block">
          <a href="#"> {{ $t("buttonReturnUp") }}</a>
        </p>
        <p>{{ $t("copyRight1") }} &copy;</p>
        <p>{{ $t("copyRight2") }} &copy;</p>
        <p><small>{{ $t("developedBy") }}: <a href="https://www.linkedin.com/in/argenis-garcia/" target="_blank">Argenis García</a></small></p>
      </div>
    </footer>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="./js/jquery-slim.min.js"><\/script>')</script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/holder.min.js"></script>
    


    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-analytics.js"></script>


    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-database.js"></script>


    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-storage.js"></script>

    <script>
      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      var firebaseConfig = {
        apiKey: "AIzaSyCggZZmGHd9u4iwmbYlcM5dUuIVSx4YQ-Q",
        authDomain: "gunscodmobile.firebaseapp.com",
        projectId: "gunscodmobile",
        storageBucket: "gunscodmobile.appspot.com",
        messagingSenderId: "415872925924",
        appId: "1:415872925924:web:b5d2e546b81259bd45ecf1",
        measurementId: "G-GLCBPSH3XL"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>
    
    <script src="./vue/vue.min.js"></script>
    <script src="./vue/vue-i18n.js"></script>
    <script src="./vue/app.js"></script>
  </body>
</html>
